* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scrollbar-width: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  position: relative;
}

.left {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: transform 0.3s ease;
  transform: scale(1.05);
  z-index: 5;
  clip-path: polygon(0 0%, 54.25% 0, 42% 100%, 0% 100%);
  background: url("../public/faction.jpg") no-repeat center center/cover;
}

.right {
  position: absolute;
  transition: transform 0.3s ease;
  background: url("../public/faction.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  z-index: 5;
  transform: scale(1.05);
  clip-path: polygon(54.25% 0, 100% 0, 100% 100%, 42% 100%);
}

.left-overlay,
.right-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 6;
  transition: opacity 0.3s ease;
  opacity: 0;

}
.right-info {

  background:transparent !important;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .right-info h1 {
  color: white;
  position: absolute;
  top: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.left-info {

  position: relative;
  top: 50%;
  left: 50%;

} */


.left-bar,
.right-bar {
  position: absolute;
  width: 100%;
  height: 130px;
  top: 88%;
  transform: translateY(-50%);
  z-index: 7;
  transition: opacity 0.3s ease;
}

.right-bar h1{
  color: white;
  position: absolute;
  top: 33%;
  right: 25%;
  transform: translateX(-50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
    transition: all 0.3s ease;
}

.left-bar h1{
  color: black;
  position: absolute;
  top: 33%;
  left: 21%;
  transform: translateX(-50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
  transition: all 0.3s ease;
}
.left-bar {
  background: white;
  clip-path: polygon(0 0%, 60% 0, 45% 100%, 0% 100%);
}
.right-bar  {
  background: black;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}
