*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body {
    scrollbar-width: none;
    width: 100%;
    height: 100vh;
    background: url("../public/back3.jpg") no-repeat center center/cover;
    position: relative;
}
.kembali {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.button-miring {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  transition: 0.2s ease;
  backdrop-filter: blur(6px);
  width: 200px;
  height: 60px;
  margin-right: 40px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.button-miring:hover {
  box-shadow: 0 0 15px #00eaff, 0 0 25px #00eaff inset;
  font-size: 20px;
  background-color: white;
  color: black;
  border-color: transparent;
}





.bungkus-signup{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
border: 1px solid white;
background-color: rgba(0, 0, 0, 0.5);
color: white;
width: 700px;
height: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
}

.form-signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    justify-items: center;
    align-items: center;
}

.form-signup input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    color: white;
}
.form-signup input:focus{
    outline: none;
    box-shadow: 0 0 5px #00eaff;
}

.submit-signin{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid white;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.submit-signin:hover{
    background: white;
    color: black;
    box-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff inset;
}
