@import "tailwindcss";
/* .border-gradient {
  border: 3px solid transparent;
  border-radius: 20px;
  border: linear-gradient(#0000, #0000) padding-box,
              linear-gradient(to right, #00C8FF, #FF00FF) border-box;
} */

/* Remove ALL scrollbars */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}

.cyber-btn {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  transition: 0.2s ease;
  backdrop-filter: blur(6px);
}

.cyber-btn:hover {
  box-shadow: 0 0 15px #00eaff, 0 0 25px #00eaff inset;
}


.kiri-side{
  clip-path: polygon(0 0%, 54.5% 0, 42.5% 100%,0% 100%);
}
.kiri-side-a{
  clip-path: polygon(0 0%, 45.5% 0, 43.5% 100%,0% 100%);
}
.kanan-side {
  clip-path: polygon(54.25% 0, 100% 0, 100% 100%, 42% 100%);
}
.kanan-side-a {
  clip-path: polygon(44% 0, 100% 0, 100% 100%, 42% 100%);
}


/* semacam "mask" sisi kanan, garis miring sama, tapi area sisanya */
.right-dark {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}

